html {
  --accent: hotpink;
  scrollbar-color: var(--accent) Canvas;
}

:root {
  accent-color: var(--accent);
}

:focus-visible {
  outline-color: var(--accent);
}

::selection {
  background-color: var(--accent);
}

.dark ::selection {
  color: #1d1d1d;
}

/* if you have a dark mode class */
::marker {
  color: var(--accent);
}

:is(::-webkit-calendar-picker-indicator, ::-webkit-clear-button, ::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
  color: var(--accent);
}

/* https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/ */
details {
  border: 2px solid var(--accent);
  padding: 0.5rem 1rem;
}

details > summary {
  cursor: pointer;
}

details > summary > *:first-child {
  display: inline;
}
